* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, #3c0008, #000);
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

}

.container {
    max-width: 1400px;
    margin: auto;
    padding: 0 30px;
}

/* NAVIGATION */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}

#navigation {
    width: 72%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
}

nav a {
    text-decoration: none;
    color: #ffeeee;
    position: relative;
}

ul a::after,
#login a:first-child::after {
    content: '';
    height: 0;
    width: 100%;
    background-color: #940000;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
}

ul a:hover::after,
#login a:first-child:hover:after {
    height: 30px;
}


nav ul li {
    display: inline-block;
    margin: 0 38px;
}

#login a {
    display: inline-block;
    margin-left: 20px;
}

#logo i {
    color: #fff;
    margin-right: 10px;
    font-size: 40px;
    color: red;
    vertical-align: middle;
}

#logo a {
    font-size: 22px;
    font-weight: 700;
}

.button {
    background-color: #940000;
    padding: 10px 30px;
    border-radius: 12px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    background-color: #ff0000;
}

.active {
    font-weight: 700;
    color: #fff;
}

#nav-button {
    display: none;
    z-index: 1;
    color: #fff;
    cursor: pointer;
}


/* SECTION - CONTACT */

h1 {
    color: #ff0000;
    font-size: 90px;
    margin-bottom: 40px;
}

#contact {
    padding-top: 30px;
}

#contact-details {
    width: 30%;
    float: left;
}


#contact-details i {
    color: #ff0000;
    font-size: 30px;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

h2 {
    color: #ff0000;
    font-size: 20px;
    margin-bottom: 7px;
}

#contact-details p {
    color: #afafaf;
}

#contact-details div {
    margin-bottom: 40px;
}

form {
    width: 70%;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 40px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: right;
}

form label {
    color: #bdbcbc;
}

form div {
    margin-bottom: 30px;
}

input,
textarea {
    color: #fff;
    font-size: 16px;
}

input[type=text],
textarea {
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.2);
    outline: none;
    border: none;
    display: block;
    margin-top: 10px;
    width: 100%;
}

textarea {
    resize: none;
    height: 150px;
}

input[type=submit] {
    padding: 13px 60px;
}

form div:nth-child(1),
form div:nth-child(2) {
    width: 48%;
}

form div:nth-child(3),
form div:nth-child(4) {
    width: 100%;
}

@media (max-width: 1400px) {

    .container {
        max-width: 1200px;
    }

    /* NAVIGATION */

    nav {
        padding: 60px 0;
    }

    nav ul li {
        margin: 0 25px;
    }

    /* SECTION - CONTACT */

    h1 {
        font-size: 80px;
    }
}

@media (max-width: 1200px) {

    .container {
        max-width: 992px;
    }

    /* NAVIGATION */

    nav {
        padding: 50px 0;
    }

    nav ul li {
        margin: 0 15px;
    }

    /* SECTION - CONTACT */

    h1 {
        font-size: 60px;
    }

    #contact-details {
        width: 35%;
    }

    form {
        width: 60%;
        padding: 40px;
    }
}

@media (max-width: 992px) {

    nav {
        padding-top: 30px;
    }

    h1 {
        font-size: 50px;
    }


    #contact-details {
        width: 100%;
    }

    form {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #contact-details div {
        width: 50%;
        float: left;
    }

    #nav-button {
        display: block;
    }

    #navigation {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #000;
        width: 0%;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 0;
    }

    #navigation.mobile-nav {
        width: 40%;
    }


    nav ul li {
        display: block;
        padding: 15px;
    }

    #login a {
        margin-left: 30px;
    }
}


@media (max-width: 768px) {
    #navigation.mobile-nav {
        width: 50%;
    }

    #contact-details div {
        width: 100%;
    }
}


@media (max-width: 600px) {
    #navigation.mobile-nav {
        width: 100%;
    }

    form div:nth-child(1),
    form div:nth-child(2) {
        width: 100%;
    }
}